<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="instructor" class="com.cognizant.week2.ex07.InjectionStylesApplication$Instructor">
        <constructor-arg value="Anita"/>
        <constructor-arg value="Spring Core"/>
    </bean>

    <bean id="trainingSession" class="com.cognizant.week2.ex07.InjectionStylesApplication$TrainingSession">
        <property name="title" value="Constructor and Setter Injection"/>
        <property name="durationHours" value="3"/>
    </bean>
</beans>
