<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="containerInfo" class="com.cognizant.week2.ex05.SpringIocContainerApplication$ContainerInfo">
        <property name="framework" value="Spring IoC Container"/>
        <property name="purpose" value="application beans"/>
    </bean>
</beans>
